.clientlet{
    font-family: 'Acme', sans-serif;
font-family: 'Fjalla One', sans-serif;
    
}
.custom{
    font-family: 'Acme', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Fleur De Leah', cursive;
}
.fstyle{
    font-family: 'Akronim', cursive;
font-family: 'Ephesis', cursive;
}
