input{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
}

from{
    transform: rotate(0deg);
}

to{
    transform: rotate(360deg);
}

.btn-success btn-lg{
    background-color: blue;
}

.bg-img{
    
    border-radius: 50%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.sucess-img{
    width: 500px;
    border-radius: 20%;
}



